body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 2rem; /* 32px */
  background-color: lightblue;
}

main {
  padding: 1rem; /* 16px */
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.box {
  width: 100%;
  padding: 1rem; /* 16px */
  margin-bottom: 1rem; /* 16px */
  background-color: lightcoral;
  text-align: center;
  box-sizing: border-box;
}

/* 태블릿 */
@media (min-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .box {
    width: calc(50% - 8px);
  }
}

/* 데스트톱: 1024px 이상 */
@media screen and (min-width: 1024px) {
  .box {
    width: calc(33.33% - 0.7px);
  }
}
